O365-Endpoints-Notifications/logic-app.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "apiProfile": "2018-06-01-profile",
    "parameters": {
        "uniqueString": {
            "type": "string"
        },
        "notificationEmail": {
            "type": "string"
        },
        "instance": {
            "type": "string"
        }
    },
    "variables": {
        "uniqueString": "[parameters('uniqueString')]",
        "logicAppName": "[concat(parameters('uniqueString'),'-Logic-App')]",
        "functionAppName": "[concat(parameters('uniqueString'),'-Function-App')]",
        "O365ConnectionName": "[concat(variables('uniqueString'),'-O365-Connection')]",
        "RssConnectionName": "[concat(variables('uniqueString'),'-RSS-Connection')]",
        "since": "@{body('Parse_JSON')?['versions'][1]",
        "latest": "@{body('Parse_JSON')?['versions'][0]",
        "emailSplit": "[split(parameters('notificationEmail'),'@')]",
        "emailName": "[first(variables('emailSplit'))]",

        "singleQuote": "'",
        "rightParen": ")",

        "clientRequestId": "[guid(resourceGroup().id)]",
        "parseJsonString": "@body('GET_Version_-_",
        "parseJsonContent": "[concat(variables('parseJsonString'),parameters('instance'),variables('singleQuote'),variables('rightParen'))]",
        "feedUrl": "[concat('https://endpoints.office.com/version/',parameters('instance'),'?clientrequestid=',variables('clientRequestId'),'&allVersions=true&format=RSS')]",
        "versionUri": "[concat('https://endpoints.office.com/version/',parameters('instance'),'?allversions&clientrequestid=',variables('clientRequestId'))]",
        "functionUri": "[concat('https://',variables('functionAppName'),'.azurewebsites.net/api/FormatEmail?name=',variables('emailName'),'&instance=',parameters('instance'),'&clientrequestid=',variables('clientRequestId'),'&since=',variables('since'),'}')]",
        "jsonURI": "[concat('https://endpoints.office.com/changes/',parameters('instance'),'/',variables('latest'),'}','?clientrequestid=',variables('clientRequestId'))]",
        "actionGetVersion": "[concat('GET_Version_-_',parameters('instance'))]",
        "actionSendEmail": "[concat('Send_email_to_',parameters('notificationEmail'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "name": "[variables('logicAppName')]",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$authentication": {
                            "defaultValue": "ActiveDirectoryOAuth",
                            "type": "string"
                        }
                    },
                    "triggers": {
                        "When_the_RSS_feed_is_updated": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Minute"
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "metadata": {
                                "flowSystemMetadata": {
                                    "swaggerOperationId": "OnNewFeed"
                                }
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['rss']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/OnNewFeed",
                                "queries": {
                                    "feedUrl": "[variables('feedUrl')]"
                                },
                                "authentication": "none"
                            }
                        }
                    },
                    "actions": {
                        "[variables('actionGetVersion')]": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "[variables('versionUri')]"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "[variables('actionGetVersion')]": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "[variables('parseJsonContent')]",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "instance": {
                                            "type": "string"
                                        },
                                        "latest": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "GET_Updates_-_Formatted": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "[variables('functionUri')]"
                            }
                        },
                        "GET_Updates_-_JSON": {
                            "runAfter": {
                                "GET_Updates_-_Formatted": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "[variables('jsonUri')]"
                            }
                        },
                        "[variables('actionSendEmail')]": {
                            "runAfter": {
                                "GET_Updates_-_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "flowSystemMetadata": {
                                    "swaggerOperationId": "SendEmailV2"
                                }
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "Attachments": [
                                        {
                                            "ContentBytes": "@{base64(body('GET_Updates_-_JSON'))}",
                                            "Name": "updates-@{body('Parse_JSON')?['latest']}.json"
                                        }
                                    ],
                                    "To": "[parameters('notificationEmail')]",
                                    "Subject": "Office 365 Endpoints Update - @{body('Parse_JSON')?['instance']} @{body('Parse_JSON')?['latest']}",
                                    "Body": "<p>Changes to Office 365 IP addresses and/or URLs for the <b>@{body('Parse_JSON')?['instance']}</b> instance have been published.<br>For more information about the Office 365 IP and URL web service, please see <a href='http://aka.ms/ipurlws'>http://aka.ms/ipurlws</a><br>\n@{body('GET_Updates_-_Formatted')}</p>"
                                },
                                "path": "/v2/Mail",
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'office365')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('O365ConnectionName'))]",
                                "connectionName": "[variables('O365ConnectionName')]"
                            },
                            "rss": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'rss')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('RssConnectionName'))]",
                                "connectionName": "[variables('RssConnectionName')]"
                            }
                        }
                    }
                },
                "runtimeConfiguration": {
                    "lifetime": {
                        "unit": "Day",
                        "count": 30
                    },
                    "collections": {
                        "maximumItemCount": 100000
                    },
                    "performanceProfile": {
                        "throttles": {
                            "mode": "Medium"
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('O365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('RssConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "name": "[variables('O365ConnectionName')]",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'office365')]"
                },
                "displayName": "[variables('O365ConnectionName')]"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "name": "[variables('RssConnectionName')]",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'rss')]"
                },
                "displayName": "[variables('RssConnectionName')]"
            }
        }
    ]
}